body {
  background: #502c42;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #da05af, #4c0240);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #da05af, #4c0240); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}